root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,ts}]
charset = utf-8
indent_style = tab
trim_trailing_whitespace = true

[*.json]
charset = utf-8
indent_style = tab
trim_trailing_whitespace = true

[*.html]
charset = utf-8
indent_style = tab

[*.css]
charset = utf-8
indent_style = tab
trim_trailing_whitespace = true
