*
!*/

!/Assets/**/*
!/Backgrounds/**/*.jpg
!/Icons/**/*
!/Fonts/**/*
!/Game/**/*
!/Scripts/**/*
!/Screens/**/*

!/.editorconfig
!/.eslintrc.json
!/.gitignore
!/index.html
!/package-lock.json
!/package.json
!/README.md
!/style.css