*
!*/

!/Assets/**/*
!/Backgrounds/**/*.jpg
!/Backgrounds/**/*.png
!/Icons/**/*
!/Fonts/**/*
!/Game/**/*
!/Music/**/*
!/Scripts/**/*
!/Screens/**/*
!/Mods/example_enemy.zip
!/Mods/example_enemy/**/*

!/.editorconfig
!/.eslintrc.json
!/.gitignore
!/index.html
!/package-lock.json
!/package.json
!/jsconfig.json
!/README.md
!/style.css

*.wav